<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CyberKitchen</title>
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">

            <a th:href="@{/}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Вернуться к поиску</span>
            </a>

            <a href="" class="list-group-item list-group-item-action py-2 ripple">
                <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
                    <input
                        type="submit"
                        class="btn btn-warning"
                        value="Выйти"
                    >
                </form>
            </a>
        </div>
    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">
        <div style="width: 95%;">
            <div class="container">
                <h2>Команды</h2>
                <p>Информация о командах:</p>
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Место</th>
                                <th>Название</th>
                                <th>Тема</th>
                                <th>Лидер</th>
                                <th>Участники</th>

                                <th>Текущие баллы</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="team : ${teams}">
                                <td th:text="${teams.indexOf(team) + 1}"></td>
                                <td th:text="${team.name}"></td>
                                <td th:if="${team.theme != null}" th:text="${team.theme.name}"></td>
                                <td th:if="${team.theme == null}">Тема не выбрана</td>
                                <td th:text="${team.leader.user.username}"></td>
                                <td th:text="${team.members.size()}"></td>
                                <td th:text="${scores.get(team.getId())}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<script src="/js/jquery/jquery-3.6.4.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/trumbowyg/trumbowyg.min.js"></script>
<script src="/js/dashboard.js"></script>

</body>
</html>