<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель задач</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/memberProfile.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${user.name} + ' ' + ${user.surname}"></h4>
                                <p class="text-secondary mb-1" th:text="${user.role}"></p>
                                <p class="text-muted font-size-sm" th:text="${user.address}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                            <a class="text-secondary" th:href="@{${user.git}}" th:text="${user.git}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <form class="card-body" th:action="@{/profile/expert/change}" method="post" >
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-6 text-secondary" th:text="${user.username}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>

                            <div class="col-sm-6 text-secondary" th:text="${user.email}">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Git</h6>
                            </div>

                            <div class="col-sm-6 text-secondary">
                                <input type="text" name="git" class="form-control" th:value="${user.git}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>

                            <div class="col-sm-6 text-secondary">
                                <input type="text" name="name" class="form-control" th:value="${user.name}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Surname</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <input type="text" name="surname" class="form-control" th:value="${user.surname}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-info" type="submit" >Change</button>
                            </div>
                        </div>
                    </form>
                </div>

                <h5>События</h5>

                <div class="row gutters-sm">
                    <a th:each="event: ${events}" class="col-sm-6 mb-3" th:href="@{/event/expert/{id}/kanban(id=${event.id})}">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3" th:text="'Название события: ' + ${event.name}"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Дата проведения</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="${event.startDate.format(DateTimeFormatter.ofPattern('yyyy/MM/dd HH:mm'))
                                + ' - ' + event.endDate.format(DateTimeFormatter.ofPattern('yyyy/MM/dd HH:mm'))}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Количество команд</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="${event.teams.size()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



            </div>
        </div>

    </div>
</div>

</body>
</html>