<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .jumbotron {
            height: 100%;
            background-color: #f4511e;
            color: #fff;
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<div class="jumbotron text-center">
    <form th:action="@{/logout}" method="post" class="flex justify-content-end">
        <button type="submit" style="background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;">
            <i class="fa fa-sign-out fa-3x"></i>
        </button>

    </form>
    <h1>CyberKitchen</h1>
    <p>try it now</p>
    <form class="form-inline" th:action="@{/event/member/memberEntrance}" method="post">
        <div class="input-group">
            <input type="text" name="token" id="token" class="form-control" size="50"  placeholder="xcms-.." required>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-danger">okay, go!</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>