<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/memberDashboardTeamTheme.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>CyberKitchen</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sidebar Nav</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
            <ul class="metro">
                <li><a th:href="@{/event/member/{id}/teamProfile(id=${event.id})}" style="color: #cccccc">Выбор команд</a></li>
                <li><a th:href="@{/event/member/{id}/teamTheme(id=${event.id})}" style="color: #cccccc">Выбор тем</a></li>
                <li><a href="" style="color: #cccccc">Задания</a></li>
            </ul>
        </ul>
        <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">
        <div style="width: 95%;">

            <div class="container">
                <h2>Темы</h2>
                <p>Выбор тем: </p>
                <div class="row">
                    <div class="col-lg-5">
                        <ol class="list-counter-circle">
                            <li class="currentTheme" th:each="theme: ${event.themes}" th:text="${theme.name}" th:id="${theme.id}"></li>
                        </ol>
                    </div>
                    <form id="themeForm" method="post" class="col-lg-5 list-group">

                        <p th:if="${themeIsSelected != true}" class="list-group-item">Описание выбранной темы: </p>

                        <p th:if="${themeIsSelected == true}"  class="list-group-item" style="color: #059105">Тема выбрана</p>

                        <span th:if="${themeIsSelected != true}" class="list-group-item" id="name">
                            Название
                        </span>

                        <span th:if="${themeIsSelected == true}" class="list-group-item" th:text="${team.theme.name}">
                        </span>

                        <span th:if="${themeIsSelected != true}" class="list-group-item" id="description">
                            Описание
                        </span>

                        <span th:if="${themeIsSelected == true}" class="list-group-item" th:text="${team.theme.description}">
                        </span>

                        <button th:if="${member.id == team.leader.id && themeIsSelected != true}" type="submit" class="btn btn-info">Определить тему</button>

                    </form>
                </div>

            </div>

        </div>

    </div>
</main>

<script th:if="${themeIsSelected != true}" src="/js/memberDashboardTeamTheme.js"></script>

</body>
</html>