<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/memberDashboardTeamSearch.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>CyberKitchen</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sidebar Nav</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
            <ul class="metro">
                <li><a href="" style="color: #cccccc">Выбор команд</a></li>
                <li><a href="" style="color: #cccccc">Выбор тем</a></li>
                <li><a href="" style="color: #cccccc">Задания</a></li>
            </ul>
        </ul>
        <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">
        <div style="width: 80%;">
            <div style="margin-left: 125px; margin-top: 70px; width: 200px">
                <label class="form-label">Выберите свою роль в команде:</label><br>
                <select class="form-control form-select" aria-label="Default select example" name="yourRole" id="yourRole" >
                    <option selected value="MANAGER">manager</option>
                    <option value="DEVELOPER">developer</option>
                    <option value="DESIGNER">designer</option>
                </select>

                <div style="margin-top: 20px">
                    <button class="btn btn-primary w-100" id="searchTeam">Искать команду</button>
                </div>
            </div>
        </div>
        <div style="margin-left: 100px; width: 86%" class="d-flex align-content-start flex-wrap" id="teams">
            <!-- карточка №1 -->
            <div class="card d-flex" style="width: 300px; margin-top: 20px; margin-left: 20px">
                <div class="card-body">
                    <h5 class="card-title">Создать команду</h5>
                    <button class="plus bg-white" data-toggle="modal" data-target="#exampleModal">+</button>
                </div>
            </div>
        </div>

    </div>
</main>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать команду</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/event/member/createTeam}" method="post" th:object="${team}">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Название команды:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Выберите свою роль в команде:</label><br>
                        <select class="form-control form-select" aria-label="Default select example" name="role" id="role" >
                            <option selected value="MANAGER">manager</option>
                            <option value="DEVELOPER">developer</option>
                            <option value="DESIGNER">designer</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Создать команду</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script >
    $('#exampleModal').on('show.bs.modal', function (event) {
    })
</script>
<script th:inline="javascript">
    maxMembersInTeam = /*[[${event.maxMembersInTeam}]]*/ 'false';
</script>
<script src="/js/memberDashboardTeamSearch.js"></script>

</body>
</html>