<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CyberKitchen</title>
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a th:href="@{/event/organizer/{id}/profile(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Профиль события</span>
            </a>

            <a th:href="@{/event/organizer/{id}/themes(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Темы</span>
            </a>

            <a th:href="@{/event/organizer/{id}/teams(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Команды</span>
            </a>

            <a th:href="@{/event/organizer/{id}/members(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Участники</span>
            </a>

            <a th:href="@{/event/organizer/{id}/experts(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-lock fa-fw me-3"></i><span>Эксперты</span>
            </a>

            <a th:href="@{/event/organizer/{id}/tasks(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Задания</span>
            </a>

            <a href="" class="list-group-item list-group-item-action py-2 ripple">
                <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
                    <input
                        type="submit"
                        class="btn btn-warning"
                        value="Выйти"
                    >
                </form>
            </a>
        </div>
    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">
        <div style="width: 95%;">
            <div class="container">
                <h2>Эксперты</h2>
                <p>Информация об экспертах:</p>
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Логин</th>
                                <th>Email</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="expert : ${event.experts}">
                                <td th:text="${expert.username}"></td>
                                <td th:text="${expert.email}"></td>
                                <td th:text="${expert.name}"></td>
                                <td th:text="${expert.surname}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<script src="/js/jquery/jquery-3.6.4.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/trumbowyg/trumbowyg.min.js"></script>
<script src="/js/dashboard.js"></script>

</body>
</html>