<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CyberKitchen</title>
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/organizerDashboardEventTasks.css">
    <link rel="stylesheet" href="/css/memberDashboardTeamProfile.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a th:href="@{/event/organizer/{id}/profile(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Профиль события</span>
            </a>

            <a th:href="@{/event/organizer/{id}/themes(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Темы</span>
            </a>

            <a th:href="@{/event/organizer/{id}/teams(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Команды</span>
            </a>

            <a th:href="@{/event/organizer/{id}/members(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Участники</span>
            </a>

            <a th:href="@{/event/organizer/{id}/experts(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Эксперты</span>
            </a>

            <a th:href="@{/event/organizer/{id}/tasks(id=${event.id})}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-lock fa-fw me-3"></i><span>Задания</span>
            </a>

            <a href="" class="list-group-item list-group-item-action py-2 ripple">
                <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
                    <input
                        type="submit"
                        class="btn btn-warning"
                        value="Выйти"
                    >
                </form>
            </a>
        </div>
    </div>
</nav>

<main class="content-wrapper">
    <div class="container-fluid">
        <div style="width: 95%;">
            <div class="container">
                <h2>Чекпоинты конкурса</h2>
                <p>Информация о чекпоинтах:</p>
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-hover" id="myTable">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Баллы</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="tableTasks">
                            <tr class="tasks" data-bs-toggle="modal" data-bs-target="#updateCheckpoint" th:each="task: ${taskList}" th:id="${task.id}">
                                <td th:text="${task.numeration}" class="index value"></td>
                                <td th:text="${task.name}" class="value"></td>
                                <td th:text="${task.description}" class="value"></td>
                                <td th:text="${task.maxScore}" class="value"></td>
                                <td>
                                    <a th:href="@{/event/organizer/deleteTask/{id}(id=${task.id})}">Удалить</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-info" id="defineNumeration">Сохранить нумерацию</button>
                    </div>
                    <div class="col-sm-3" style="padding-left: 20px">
                        <button data-bs-toggle="modal" class="btn btn-success" data-bs-target="#exampleModal">Добавить чекпоинт</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать чекпоинт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/event/organizer/createTask}" method="post" th:object="${task}">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Название чекпоинта:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label">Описание:</label>
                        <textarea class="form-control" name="description" id="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="maxScore" class="col-form-label">Максимальное количество баллов:</label>
                        <input type="text" class="form-control" id="maxScore" name="maxScore">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Создать тему</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="updateCheckpoint" tabindex="-1" role="dialog" aria-labelledby="exampleModalL" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalL">Изменить чекпоинт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changeForm" method="post" th:object="${task}">
                    <div class="form-group">
                        <label for="nameChange" class="col-form-label">Название чекпоинта:</label>
                        <input type="text" class="form-control" id="nameChange" name="name">
                    </div>

                    <div class="form-group">
                        <label for="descriptionChange" class="col-form-label">Описание:</label>
                        <textarea class="form-control" name="description" id="descriptionChange"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="maxScoreChange" class="col-form-label">Максимальное количество баллов:</label>
                        <input type="text" class="form-control" id="maxScoreChange" name="maxScore">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Изменить тему</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery/jquery-3.6.4.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/trumbowyg/trumbowyg.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="/js/organizerDashboardEventTasks.js"></script>

</body>
</html>